/* ------ CSS RESET ------*/

* {
    padding: 0;
    margin: 0;
    font-size:20px;
    line-height: 1em;
  }

/* ------- MAIN STYLING -------*/

body {
    width: 75%;
    margin:auto;
    background: rgba(0,57,84,100);
    color: #fff;
    font-family: 'Catamaran', sans-serif;
}

/*------- TYPOGRAPHY --------*/

h1, h2, h3 {
    font-weight: normal;
    color: rgba(163,207,201,100);
    text-align: center;
    font-family: 'Staatliches', cursive;
}

p, li, blockquote {
    margin-bottom: 1.5em;
    line-height: 1.6;
}

h1 {
    font-size: 3.998em;
    margin-top: 1em;
    margin-bottom: 1em;
    
}

h2 {
    font-size: 2.827em;
    margin: 1em 0 ;
   
}

h3 {
    font-size: 1.999em
}

blockquote {
    hanging-punctuation: first;
    text-indent: -0.01em;
    colour: rgba(255,252,214,100);
    
}

header h2 {
    font-size: 2.35em;
    margin-top: 0.1em;
    color: rgba(254,215,73,100);

}

div.a {
    line-height: 1.6;
}

/*-------- STYLING LINKS ---------*/

a {
    color: #c06;
    text-decoration: none;
}

a:hover {
    color: darkblue;
    border-bottom: 1px dotted;
}

/*-------- NAVIGATION ----------*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: rgba(254,215,73,100);
    padding: 1em 0;
    font-size: 0.5em;
        
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav ul li{
    display: inline;
    margin: 20px
}

nav a:link {color: #fff}

nav a:visited {color: #fff}

nav a:hover {border-bottom: none;
color: black;
transition: all 0.3s ease-in-out;
}

/*--------- BLOCKQUOTE --------*/

blockquote {
    padding: 1em 0 4em 0;
    font-size: 1.75em;
    line-height: 1.3;
    color: #777
}

blockquote cite{
    font-size: 0.75em;
}

/* ------------- IMAGES -----------*/
img {
    display: block;
    margin: 4em auto;
    padding: 0;
    max-width: 100%
}

/* ------------ TABLE -------------*/

table {
    margin:auto;
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    margin-bottom: 2em;
  } 

caption {
    margin-bottom: 1.5em;
    text-transform: uppercase;
    }

th {
    color: black;
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
    background:rgba(254,215,73,100);
}

th, td {
    padding: .6em;
}

table, td {
    background: #000000;
    border: 2px solid #fff;
    }
/* ------------- FOOTER -----------*/

footer{
    text-align: center;
    font-size: 0.75em;
    line-height: 1.5em;
    padding: 2em 0 4em 0; 
}
footer hr {
    margin: 3em;

}

/* ---------ICONS------------*/

.connections {
    position: relative;
    margin: 0 auto;
    margin: 20px, 0;
}

.connections ul{
    margin: 0;
    padding: 0;
}

.connections li {
    margin: 0 15px;
    padding: 0;
    list-style: none;
    display: inline-block;
}

.connections img {
    opacity: 0.5;
    border: none;
}

.connections a:hover img{
    opacity: 1.0;
    border-bottom: none;
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
    
}

hr {
    margin 1em 0;
    height: 1px;
    background-color: #c06;
    color: #c06;
    border: 0 none;
    
}
